{% block createCourseModal %}
<div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Create Course</p>
                <button class="delete" aria-label="close" onclick="toggleModal()"></button>
            </header>
            <section class="modal-card-body">
                <section class="section">
                    <form method="post"
                        action="/post_course">
                        <div class="field">
                            <label class="label">Course ID:</label>
                            <div class="control">
                                <input class="input"
                                    id="course_id"
                                    name="course_id"
                                    type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Course
                                Name:</label>
                            <div class="control">
                                <input class="input"
                                    id="course_name"
                                    name="course_name"
                                    type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Section ID:</label>
                            <label>Days</label>
                            <div class="control">
                                <input class="input"
                                    id="day" name="day"
                                    type="text" />
                            </div>
                        </div>
                        <div class="control">
                            <input class="button"
                                type="submit" value="Create
                                Course and Section" />
                        </div>
                    </form>
                    <form method="post"
                        action="/post_schedules">
                        <input class="button" type="submit"
                            value="Create Schedules" />
                    </form>
                </section>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Save
                    changes</button>
                <button class="button" onclick="toggleModal()">Cancel</button>
            </footer>
        </div>
</div>
{% endblock createCourseModal %}
